{% extends "base.html" %}
{% load static %}
{% block extra_stylesheets %}
  <link rel="stylesheet" href={% static 'shop/styles_policy.css' %}>
{% endblock %}
{% block content %}
<body>
    <h1>Privacy Policy</h1>
    <form id="style-form">
        <label for="font-size">Размер шрифта:</label>
        <select id="font-size">
            <option value="small">Маленький</option>
            <option value="medium">Средний</option>
            <option value="large">Большой</option>
        </select>
        <br>
        <label for="text-color">Цвет текста:</label>
        <input type="color" id="text-color">
        <br>
        <label for="background-color">Цвет фона:</label>
        <input type="color" id="background-color">
    </form>
    <p class="styled-text">
        This is My Pet Store Privacy Policy and the purpose of this document is to inform you of how we manage, collect, use and disclose your Personal Data, which is subject to the Singapore Personal Data Protection Act (No. 26 of 2012) (“the PDPA”). Our Privacy Policy supplements, but does not supersede nor replace any other consent you may have previously provided to My Pet Store in respect of your Personal Data. In addition, we may update this Personal Data Protection Policy to ensure that it is consistent with industry trends and/or changes in legal or regulatory requirements. Subject to your rights at law, you agree to be bound by the prevailing terms of the PDPA as updated from time to time on our website www.mypetstoresg.com
    </p>
    <h3>Introduction To The PDPA</h3>
    <p class="styled-text">
            Personal Data as defined in the PDPA is defined to mean data, whether true or false, about an individual who can be identified from that data, or from that data and other information to which an organization has or is likely to access to.
    My Pet Store will only collect your personal data directly from you, in accordance with the PDPA. We shall take every effort to notify you of the purposes for which your personal data may be collected, used, disclosed and/or processed, as well as obtain your consent for the collection, use, disclosure and/or processing of your personal data for the intended purposes, save for where there is an exception where the law permits us to collect and process your personal data without your consent.
    </p>
    <h3>Collection Of Your Personal Data</h3>
    <p class="styled-text">
        My Pet Store collects your Personal Data either directly from you or from your authorised representatives, from third parties, or from publicly available sources or through our website including, but not limited to, the following ways:
        When you submit a form to sign up for our newsletters;
        When you interact with our customer service team (e.g. via telephone calls, letters, face-to-face meetings, emails, posts and messages on our social media pages etc.);
        When you use some of our services, for example, websites and apps including establishing any online accounts with us;
        When you request that we contact you;
        When you respond to our promotions, initiatives or to any request for additional Personal Data;
        When you are contacted by, and respond to, our marketing representatives and customer service team;
        When we receive references from business partners and third parties, for example, where you have been referred by them;
        When you submit your Personal Data to us for any other reasons; or
        When you browse our website, you generally do so anonymously but please see our Clause below on Cookies.
    If you provide us with any Personal Data relating to a third party (e.g. information of your spouse, children, parents, and/or employees), by submitting such information to us, you represent to us that you have obtained the consent of the third party to provide us with their Personal Data for the respective purposes.
    You should take due care to ensure that all Personal Data submitted to us are complete, accurate, true and correct at the date of submission. Failure on your part to do so many result in our inability to provide you with the Products and/or Services you have requested.
    </p>
    <a href="/media/text.txt" download="Privacy policy.pdf" class="button-link">Download</a>

    <script>
        var fontSizeSelect = document.getElementById('font-size');
        var textColorInput = document.getElementById('text-color');
        var backgroundColorInput = document.getElementById('background-color');
        var styledText = document.getElementsByClassName('styled-text');
        var body = document.body;

        fontSizeSelect.addEventListener('change', function() {
            var selectedSize = this.value;
            for (var i = 0; i < styledText.length; i++) {
                styledText[i].style.fontSize = selectedSize;
            }
        });

        textColorInput.addEventListener('input', function() {
            var selectedColor = this.value;
            for (var i = 0; i < styledText.length; i++) {
                styledText[i].style.color = selectedColor;
            }
        });

        backgroundColorInput.addEventListener('input', function() {
            var selectedColor = this.value;
            body.style.backgroundColor = selectedColor;
        });
    </script>
</body>
{% endblock %}