{% extends "base.html" %}
{%load static%}
{% block extra_stylesheets %}
  <link rel="stylesheet" href={% static 'shop/list.css' %}>
{% endblock %}
{% block content %}
    <h1>Reviews</h1>
    <ul class="styled-list" >
        {% for r in reviews_list%}
        <li>
            <p>
                Author: <strong>{{r.author.first_name}} {{r.author.last_name}}</strong>
            </p>
            <p>
                Review: {{r.review_text}}
            </p>
            <p>
                Rate: {{r.rate_field}}
            </p>
            <p>
                <small>Date: {{r.review_date}}</small>
            </p>
        </li>
        {% endfor %}
    </ul>
    <div class="add-button">
    <a href="{% url 'shop:create_review' %}"> Add review </a><br>
    </div>
{% endblock %}




</html>