{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="description" content="This is pet products shop">
    <meta name="author" content="Yulia Atrashonok">
    <link rel="stylesheet" href="{% static 'shop/styles_base.css' %}">
    <link rel="icon" href="{% static 'cat.ico' %}" type="image/x-icon">
    <title>{% block title %}Home{% endblock %}</title>
    {% block extra_stylesheets %}{% endblock %}
</head>

<body>

<header>
    <div class="logo">
    <img src="/media/logo.jpg" alt="logo not found" height="100">
    </div>
    <div class="company-name">Pets Love</div>
  <div id="countdown"></div>

  <script>
    var startTime = localStorage.getItem('countdownStartTime');

    if (startTime) {
      startCountdown(parseInt(startTime, 10));
    } else {
      var currentTime = Date.now();
      var countdownTime = currentTime + (60 * 60 * 1000); 
      startCountdown(countdownTime);
    }

    function startCountdown(startTime) {
      var countdownElement = document.getElementById('countdown');

      var countdownInterval = setInterval(function() {
        var currentTime = Date.now();
        var timeDifference = startTime - currentTime;

        if (timeDifference <= 0) {
          clearInterval(countdownInterval);
          countdownElement.textContent = 'Отсчет завершен!';
          localStorage.removeItem('countdownStartTime');
        } else {
          var hours = Math.floor(timeDifference / (1000 * 60 * 60));
          var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

          countdownElement.textContent = hours + 'ч ' + minutes + 'мин ' + seconds + 'сек';
        }
      }, 1000);
      localStorage.setItem('countdownStartTime', startTime.toString());
    }
  </script>
</header>

<nav>
    <ul class="base-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about_company">About us</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/privacy_policy">Privacy policy</a></li>
        <li><a href="/coupons">Coupons</a></li>
        <li><a href="/vacancies">Vacancies</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/list_products">Products</a></li>
        {% if not user.is_staff %}
        <li><a href="/cart/" class="logo">Cart</a></li>
        {% endif %}
        <li><a href="/tags_page">Tags</a></li>
    </ul>
    <div class="user-log">
        {% if user.is_authenticated %}
        Hello, {{ user.username }}!
        <a href="{% url 'login:logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'login:signup' %}">Sign up</a>
        <a href="{% url 'login:signin' %}">Sign in</a>
        {% endif %}
    </div>
</nav>

<div class="time-block">
    Current date <span id='date'></span>
    <br>
    Current time <span id='time'></span>
    <br>
    Current time zone <span id='zone'></span>
    <br>
    <script>
        const today = new Date();
        const yyyy = today.getFullYear();
        let mm = today.getMonth() + 1;
        let dd = today.getDate();
        let h = today.getHours();
        if (h < 10)
            h = '0' + h;
        let min = today.getMinutes();
        if (min < 10)
            min = '0' + min;
        let sec = today.getSeconds();
        if (sec < 10)
            sec = '0' + sec;

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        let formattedToday = dd + '/' + mm + '/' + yyyy;
        let time = h + ":" + min + ":" + sec;
        let tz = -(new Date().getTimezoneOffset() / 60);
        if (tz > 0) {
            tz = "+" + tz;
        }
        tz = "UTC" + tz;
        document.getElementById('date').innerHTML = formattedToday;
        document.getElementById('time').innerHTML = time;
        document.getElementById('zone').innerHTML = tz;
    </script>
</div>

<main id="content">
    {% block content %}
    {% endblock %}
</main>
</div>
<footer>
    <p>&copy; 2023 Pets Love. All rights reserved.</p>
</footer>

</body>
</html>