p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #87986A;
}


.highlight {
    background-color: yellow;
    font-weight: bold;
}

.styled-text::selection {
    background-color: #97A97C;
    color: white;
}

p {
    text-align: justify;
    margin: 20px 20px 20px 20px;
    text-indent: 1.5em;
}

.button-link {
    display: inline-block;
    background-color: #87986A;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button-link:hover {
    background-color: #45a049;
}

.animal-container {
    position: relative;
    height: 500px; /* Высота контейнера для создания скроллинга */
    overflow-y: scroll;
  }
  
  .animal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .animated {
    opacity: 1;
    transform: translateX(-50%) translateY(50px);
  }